#contenid0
{
    width: 0px;
    height: auto;
    margin: auto;
    position: relative;
}
body
{
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}
 header
{
    margin: auto;
    position: relative;
} 
h1 
{
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
    color: #005883;
    margin-bottom: 0px;
    margin-right: 215px;
}
h2
{

    margin-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #005883;
    margin-top: 15px;
}
h3
{
    margin-left: 30px ;
    color: #F0B429;
    font-size: 30px;
    margin-top: -5px;
}
h4
{
    margin-top: 4px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #005883;
    margin-bottom: 7px;
}
p
{
    margin-left: 12px;
    color: #005883;
    font-size: 16px;
    margin-left: 10px;
}
nav
{
    text-align: center;
    width: 1348px;
    height: 50px;
    background-color: #f0b429;
    border-radius: 2px;
    border-bottom-right-radius: 0; 
    margin-bottom: 10px;
    display: inline-block;
    justify-content: center;
}
ul
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
li
{
    float: left;
    list-style-type: none;
    background-color: #F0B429;
    width: inherit;
    height: 35px;
    font-size: 25px;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 8px;
    padding-bottom: 5px;
}
li ul
{
    position: inherit;
    display: none;
    width: 200px;
}
li ul > a
{
    font-size: 20px;
}
li:hover ul
{
    display: block;
}
li ul li
{
    position: relative;
}
li ul li ul
{
    right: -150px;
    top: -80%;
}
section
{
    width: 1300px;
    /*background-color: white;*/
    height: auto;
    z-index: -1;
    float: left;
}
article
{
    width: 700px;
    float: left;
}
aside
{
    /*background-color: blue;*/
    width: 280px;
    float: left;
    margin-left: 20px;
    height: 490px;
    padding-left: 19px;
    
    /*margin-left: 20px;*/
}
hr
{
    z-index: -1;
    background-color: black;
    border-color: beige;
    left: 714px;
    width:4px;
    height: 540px;
    top: 290px;
    position: absolute;
    margin: 0%;
}
footer
{
    position: sticky;
    height: 85px;
    background-color: #F0B429;
    width: 1349px;
    clear: both;
    top: 820px;
    text-align: center;
}
footer img
{
    margin: 0px;
    height: 0px;
    width: auto;
    
}
figure
{
    margin: 0;
    padding: 0;
}
/*clases*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

/*color de el texto en el menu desplegable*/
/*----------------------------------------*/
.menu:link{color: white; text-decoration:none}
.menu:visited{color: white; text-decoration:none}    
.menu:hover{ color: #005883;text-decoration:none}
.menu:active{color: white; text-decoration:none}
.menu:focus{color: white; text-decoration:none}

/*seudo clases*/
article ul:hover{
    background-color: transparent; 
}
li:hover
{
    background-color: #F0B429;
    z-index: 2   
}
